@font-face {
  font-family: "Pak_Yong_jun";
  src: url("Pak_Yong_jun.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HSBombaram";
  src: url("HSBombaram.otf");
}
